<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css"><!--"public/css/style.css">-->
    <script src="https://kit.fontawesome.com/5f58e28f90.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo-bird.png" style="width: 100px">
            <ul>
                <li>
                    <i class="fa-solid fa-house"></i>
                    <a href="#" class="button">Start</a>
                </li>
                <li>
                    <i class="fa-solid fa-heart"></i>
                    <a href="#" class="button">Favourite ideas</a>
                </li>
                <li>
                    <i class="fa-solid fa-image"></i>
                    <a href="#" class="button">My gallery</a>
                </li>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <a href="#" class="button">My profile</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search idea">         
                    </form>
                </div>
            </header>
            <section class="ideas">
                <div id="idea-1">
                    <img src="../img/logo-bird.png">
                    <div>
                        <h2>Pomysł 1</h2>
                        <p>Taki tam ptaszek ze scribble art</p>
                        <div class="social-section">
                            <i class="fas fa-heart"></i>
                            <i class="fa-solid fa-image"></i>
                        </div>
                    </div>
                </div>
                <div id="idea-2">
                    <img src="../img/logo-bird.png">
                    <div>
                        <h2>Pomysł 2</h2>
                        <p>Kurczę to chyba ten sam ptak</p>
                        <div class="social-section">
                            <i class="fas fa-heart"></i>
                            <i class="fa-solid fa-image"></i>                        
                        </div>
                    </div>
                </div>
                <div id="idea-3">
                    <img src="../img/logo-bird.png">
                    <div>
                        <h2>Pomysł 3</h2>
                        <p>Na razie tak, ale to na pewno nie kurczę</p>
                        <div class="social-section">
                            <i class="fas fa-heart"></i>
                            <i class="fa-solid fa-image"></i>                        
                        </div>
                    </div>
                </div>
                <div id="idea-4">
                    <img src="../img/logo-bird.png">
                    <div>
                        <h2>Pomysł 4</h2>
                        <p>No tak bardziej przypomina zimorodka</p>
                        <div class="social-section">
                            <i class="fas fa-heart"></i>
                            <i class="fa-solid fa-image"></i>
                        </div>
                    </div>
                </div>
                <div id="idea-5">
                    <img src="../img/logo-bird.png">
                    <div>
                        <h2>Pomysł 5</h2>
                        <p>Koniec nocnych wywodów o 01:33 xddd</p>
                        <div class="social-section">
                            <i class="fas fa-heart"></i>
                            <i class="fa-solid fa-image"></i>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
    </div>
</body>