<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/style1.css">
    <script src="https://kit.fontawesome.com/5f58e28f90.js" crossorigin="anonymous"></script>
    <title>Start</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <div class="logo-napis">
                Inspiart🪶
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="#" class="button">
                            <i class="fa-solid fa-house"></i>  Start
                        </a>
                    </li>
                    <li>
                        <a href="#" class="button">
                            <i class="fa-solid fa-heart"></i>  Favourite ideas
                        </a>
                    </li>
                    <li>
                        <a href="#" class="button">
                            <i class="fa-solid fa-image"></i>  My gallery
                        </a>
                    </li>
                    <li>
                        <a href="#" class="button">
                            <i class="fa-solid fa-user"></i>  My profile
                        </a>
                    </li>
                </ul>
            </div>
            <button>
                log out
            </button>
        </nav>
        <main>
            <div class="decoration-top">
                
            </div>
            <div class="section">
                <div class="option">
                    <i class="fa-regular fa-pen-to-square"></i>
                    description
                </div>
                <div class="option">
                    <i class="fa-brands fa-phoenix-framework"></i>
                    simple drawing
                </div>
                <div class="option">
                    <i class="fa-brands fa-shoelace"></i>
                    scribble art
                </div>
                <div class="option">
                    <i class="fa-solid fa-dice"></i>
                    random
                </div>
            </div>
            <div class="decoration-bottom">
                
            </div>
        </main>
    </div>
</body>
</html>