body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    font-family: Inter;
}

.login-container {
    padding: 0em 3em;

    width: 40vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 6px 0px 6px #00000029;
}

.inspiart {
    padding-top: 10%;
    font-size: 3em;
}

.inspiart-text {
    background: linear-gradient(90deg, #f28618, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.log-in-to {
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: 40vh;
}

input {
    background-color: #77777750;
    border: none;
    border-radius: 10px;
    padding: 1em;
    margin: 1em 0em;
    width: 93%;
    
}

button {
    align-self: center;
    background-color: #F28618;
    width: 50%;
    border: none;
    color: white;
    border-radius: 30px;
    margin: 1em;
    line-height: 2.5em;
}


button:hover {
    background-color: #854E25;
}

.forgot {
    align-self: flex-end;
    display: flex;
}

.forgot-password{
    margin: 0.2em;
}

.click-here {
    color: #F28618;
    text-decoration: underline;
    margin: 0.2em;
    display: inline-block;
    cursor: pointer;
}

.click-here:hover {
    color: #854E25;
}

.base-container {
    width:60vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #ffffff 0%, #F5DBAA 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-panel{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.decoration-top {
    width: 100%;
    height: auto;
}

.sign-up-section {
    margin-top: 1em;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.still-dont-have {
    font-size: 1.5em;
   text-wrap: nowrap;
   align-self: center;
}

.sign-up {
    width: 12em;
    margin-right: 4em;
}

.logo-picture{
    position: absolute;
    align-self: flex-end;
}

.logo-picture>img{
    max-height: 90vh;
    width: auto;
    height: auto;
    max-width: 65vw;
    margin-right: 0em;
}

.decoration-bottom{
    width: 100%;
    height: auto;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

@media only screen and (max-device-width: 720px) {
    .container {
        background: transparent linear-gradient(180deg, #ffffff 50%, #F5DBAA 100%) 0% 0% no-repeat padding-box;
        flex-direction: column; 
        justify-content: flex-start;
        
        font-size: 10px;
    }

    .login-container {
        visibility: hidden;
        width: 100%;
        height: 50vh;
    }

    .base-container {
        width:100vw;
        height: 50vh;
    
    }

    .logo-picture {
        width: 25em;
        margin: 1em;
        margin-top: 10em;
        margin-bottom: 7em;
    }

    form{
        width: 100vw;
        height: 50vh;
    }
}